@import url('https://fonts.googleapis.com/css?family=Poppins:regular,bold');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'poppins';
  color: white;
  background-color: #131C1E;
}

@layer components {
  .hoverLink {
    @apply px-6
  }
}