@import url('https://fonts.googleapis.com/css?family=Poppins:regular,bold');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'poppins';
  color: white;
  background-color: #131C1E;
}

@layer components {
  .hoverLink {
    @apply px-6
  }
  .line {
    @apply 
    absolute
    border-b-4
    border-white
    top-0
    left-[10%]
    w-[80%]
  }
  
}

.bigCard {
  height: 400px;
  width: 600px;
  border-radius: 25px;
}

.onTopHeader {
  position: fixed;
  top: 0;
  width: 100%
}

.header {
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100;Neutral+Density */
  background: -moz-linear-gradient(top,  rgba(14,14,14,0.55) 0%, rgba(14,14,14,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(14,14,14,0.55) 0%,rgba(14,14,14,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(14,14,14,0.55) 0%,rgba(14,14,14,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */

  @apply
  backdrop-blur-md
}

input::placeholder {
  opacity: .7;
  position: absolute;
  top: 14px;
  padding: 5px;
  padding-left: 10px;
}

input, textarea {
@apply
  border-[2px] 
  hover:border-[#CAFC01] 
  border-transparent 
  p-[.5rem] 
  rounded-[0.5rem] 
  bg-[#101010] 
  cursor-text 
  hover:shadow-lg
}

